version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: unigo
      POSTGRES_PASSWORD: unigo
      POSTGRES_DB: unigo
    ports: ["5432:5432"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: unigo-mailhog
    restart: unless-stopped
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
  pgadmin:
    image: dpage/pgadmin4
    container_name: unigo_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: pj64delacruz@gmail.com
      PGADMIN_DEFAULT_PASSWORD: pablojavier64
      PGADMIN_LISTEN_PORT: 8082
    ports:
      - "8082:8082"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - unigo_net
volumes:
  postgres_data:
  pgadmin_data:

networks:
  unigo_net:
    driver: bridge
